# Data
data/

# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
venv/
.venv/
env/

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Database files
*.sqlite3

# Sensitive information
.env
